.venv
.DS_Store
filtering/__pycache__
filtering/test/filtering
filtering/test/run_matlab_validation.m
.idea
**.pyc
encoded_train
val
scripts/data/sim_xvfi_1bit
**.mp4
scripts/output
scripts/data
**.mat
# ignore all . files and . folders
.*

# Dont ignore .gitignore (this file)
# This is just for verbosity, you can leave it out if
# .gitignore is already tracked or if you use -f to
# force-add it if you just created it
!/.gitignore
